django
djangorestframework
djangorestframework-simplejwt
djangorestframework-stubs
django-cors-headers
psycopg[binary]
stripe
celery[redis]
django-celery-beat
dj-database-url
daphne
channels
python-dotenv